@font-face {
    font-family: 'Averta-Regular', sans-serif;
    src: url('/assets/fonts/Averta-Regular.otf') format('otf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta-Light', sans-serif;
    src: url('../fonts/Averta-Extrathin.otf') format('otf'); 
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #F6F6F6 !important;
}

h1{
    font-family: 'Averta-Light', sans-serif !important;
    font-style: normal!important;
    font-weight: 700!important;
    font-size: 22px!important;
    line-height: 36px!important;
    color: #005A92!important;
    margin-top:20px!important;
    margin-bottom: -10px!important;
}

h2{
    font-family: "Averta-Light", sans-serif;
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 14px!important;
    line-height: 17px!important;
    color: #303030!important;
    margin-bottom: 30px!important;
    letter-spacing: normal!important;
}

/* Base para botões das telas PGE */
.bt-grupo{ 
    font-family: "Averta-Light", sans-serif;
    font-style: normal;
    /* font-weight: 700; */
    width: 80px !important;
    height: 35px !important;
    font-size: 14px !important;
    border-radius: 8px !important;
    text-transform: capitalize !important;
    border: none !important;
    clear: both;
    background-color: #005A92 !important;
    color: white;
}

.bt-grupo-claro{ 
    font-family: "Averta-Light", sans-serif;
    font-style: normal;
    /* font-weight: 700; */
    width: 80px !important;
    height: 35px !important;
    font-size: 14px !important;
    border-radius: 8px !important;
    text-transform: capitalize !important;
    border: none !important;
    clear: both;
    background-color: white !important;
    color: #005A92 !important;
    border: #005A92 solid 1px !important;
}

/* base para inputs das telas PGE */
.campo{
    margin-bottom: 25px;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: 0.6rem 1rem;
    width: 100%;
    font-size: 14px;
    font-family: 'Averta-Light';
}


@media (max-width: 990px) {

    .navbar-text{
        width: 100% !important;
        margin-top: 35px;
    }

    .breadcrumb {
        margin-top: 45px !important;
    }

    .content-index{
        margin-top:50px !important;
    }

    .d-none {
        display: inline !important;
    }

}
